<!-- Button to open the modal login form -->

<!-- The Modal -->
<div class="modal-backdrop is-hidden">

    <!-- Modal Content -->
    <div class="modal-container">
        <button class="close-modal" data-action="close"></button>
        <div class="modal-img">
            <img class="modal-avatar" srcset="./images/mob/login-avatar-320.png 320w, ./images/tab/login-avatar-768.png 768w,
        ./images/desc/login-avatar-1280.png 1280w" src="./images/mob/login-avatar-320.png" alt="Avatar" sizes="40 vw">
        </div>


        <!-- Login -->
        <form method="post" class="modal-form login">
            <input required type="email" placeholder="Email" name="email" class="modal-input required">
            <input required type="password" placeholder="Password" name="password" class="modal-input">
            <div class="wrapper-btn">
                <button type="submit" class="modal-btn login-btn">Login</button>
                <button type="button" class="modal-btn google-btn">
                    Sign in with Google
                </button>
            </div>

            <p class="modal-text">Don't have an account?</p>
            <button type="button" class="modal-btn" data-action="toggle">Register</button>

        </form>

        <!-- Registration -->
        <form class="modal-form register is-hidden" method="post">

            <input required type="email" placeholder="Email" name="email" class="modal-input">
            <input required type="password" placeholder="Password" name="password" class="modal-input">
            <input required type="password" placeholder="Repeat Password" name="repeat" class="modal-input">
            <button type="submit" class="modal-btn register-btn">Register</button>
            <p class="modal-text">Have an account?</p>
            <button type="button" class="modal-btn" data-action="toggle">Login</button>

        </form>

    </div>
</div>